!!! 5
html(lang="en")
	head 
		title Geo Plotter
		
body
	div#content
			input#input(type="text", name="url")
			input#send(type="submit", name="send", value="Send")
	div#site
	script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
	
	script(type='text/javascript', src='/js/app/GeoPlotter.js')